<!DOCTYPE html>
<html>
<head>
  <title>PairUp</title>
</head>
<body>
  <nav style="background: grey;">
    <p>Will need to hide this nav context dependent logic such as user_login? and current page. Not to mention only display certain links for certain conditions.</p>
    <ul>
      
    </ul>
  </nav>
  <main>
    <%= yield %>
  </main>

</body>
</html>