<!DOCTYPE html>
<html>
<head>
  <title>PairUp</title>
</head>
<body>
  <nav style="background: grey;">
    <p>Will need to hide this nav context dependent logic such as user_login? and current page. Not to mention only display certain links for certain conditions.</p>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/users/signup">Sign Up</a></li>
      <li><a href="/users/1/dashboard">Dashboard</a></li>
      <li><a href="/projects/upcoming">Upcoming</a></li>
      <li><a href="/projects/current">Current</a></li>
      <li><a href="/projects/index">Archives</a></li>
    </ul>
  </nav>
  <main>
    <%= yield %>
  </main>

</body>
</html>