<!-- Create a new user session by logging in -->
<p>Once the form is submitted, redirect in the post action to the dashboard.</p>
<a href="/users/1/dashboard">Dashboard</a>

<form class="login" action="/users/1/dashbord" method="get">
  <fieldset>
    <ul>
      <li>
        <label for="email">Email Address</label>
        <input type="email" id="email" />
      </li>
      <li>
        <label for="password">Password</label>
        <input type="text" id="password" />
      </li>
      <button type="submit">Log In</button>
    </ul>
  </fieldset>
</form>