<!-- Create a new user session by logging in -->

<form class="login" action="/users/1/dashboard" method="post">
  <h2>Log In</h2>
  <fieldset>
    <ul>
      <li>
        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" />
      </li>
      <li>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </li>
      <button type="submit">Log In</button>
    </ul>
  </fieldset>
</form>