<!-- Landing page for users -->
<a href="/login">Login</a>
<a href="/users/signup">Sign Up</a>

<!-- Hero -->
<section>
  <h1>Pair Up. Compete. Review. Learn.</h1>
  <p>Join like minded programmers to improve your programming and collaboration skills</p>
</section>
<!-- Info -->
<section>
  <div>
    <h2>Teams</h2>
    <p>Teams are made up of 2-4 programmers with similar experience</p>
  </div>

  <div>
    <h2>Projects</h2>
    <p>Projects are language/stack specific and vary in complexity</p>
  </div>
  
  <div>
    <h2>Review</h2>
    <p>Reviews are done via peer reviews and the highest ranked solution wins</p>
  </div>
</section>