<!-- Render form for creating a new user -->

<form class="registration" action="/users/register" method="post">
  <h2>Experience</h2>
  <fieldset>
    Ruby:
    Sinatra:
    Rails:
    SQL:
    Javascript:
    jQuery:
    HTML:
    CSS:
  </fieldset>
</form>