<!-- Render form for creating a new user -->

<form class="registration" action="/users/:id/register" method="post">
  <h2>Experience</h2>
  <fieldset>
    <h3>Ruby:</h3>
    <ul>
      <li>
        <label>
          <input type="checkbox" name="novice" value="novice" />
          Novice
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="intermediate" value="intermediate" />
          Intermediate
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="advanced" value="advanced" />
          Advanced
        </label>
      </li>
    </ul>

    <h3>Sinatra:</h3>
    <ul>
      <li>
        <label>
          <input type="checkbox" name="novice" value="novice" />
          Novice
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="intermediate" value="intermediate" />
          Intermediate
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="advanced" value="advanced" />
          Advanced
        </label>
      </li>
    </ul>

    <h3>Rails:</h3>
    <ul>
      <li>
        <label>
          <input type="checkbox" name="novice" value="novice" />
          Novice
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="intermediate" value="intermediate" />
          Intermediate
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" name="advanced" value="advanced" />
          Advanced
        </label>
      </li>
    </ul>

      <h3>SQL:</h3>
      <ul>
        <li>
          <label>
            <input type="checkbox" name="novice" value="novice" />
            Novice
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="intermediate" value="intermediate" />
            Intermediate
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="advanced" value="advanced" />
            Advanced
          </label>
        </li>
      </ul>

      <h3>JavaScript:</h3>
      <ul>
        <li>
          <label>
            <input type="checkbox" name="novice" value="novice" />
            Novice
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="intermediate" value="intermediate" />
            Intermediate
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="advanced" value="advanced" />
            Advanced
          </label>
        </li>
      </ul>

      <h3>jQuery:</h3>
      <ul>
        <li>
          <label>
            <input type="checkbox" name="novice" value="novice" />
            Novice
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="intermediate" value="intermediate" />
            Intermediate
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="advanced" value="advanced" />
            Advanced
          </label>
        </li>
      </ul>

      <h3>HTML:</h3>
      <ul>
        <li>
          <label>
            <input type="checkbox" name="novice" value="novice" />
            Novice
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="intermediate" value="intermediate" />
            Intermediate
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="advanced" value="advanced" />
            Advanced
          </label>
        </li>
      </ul>

      <h3>CSS:</h3>
      <ul>
        <li>
          <label>
            <input type="checkbox" name="novice" value="novice" />
            Novice
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="intermediate" value="intermediate" />
            Intermediate
          </label>
        </li>
        <li>
          <label>
            <input type="checkbox" name="advanced" value="advanced" />
            Advanced
          </label>
        </li>
      </ul>
  </fieldset>
</form>